* {
  box-sizing: border-box;
}
h1 {
 margin-bottom: 15px;
 text-align: center;
}

.menu {  

  position: relative;
  background-color: lightgrey;
  padding: 10px;
  margin-top: auto;      
  font-family: "Times New Roman", Georgia, Serif;
  color: black; 
}

/*div.menu {

  margin-right: 2%;
  margin-bottom: 2%;
  }*/

  h2 {


    background-color:red;
    border: 1px solid white; 
    margin-right: 1px; 
    width: 90px;
    height: 30px;
    text-align: center;
    float: right;


  }

  #div1.menu, #div2.menu, #div3.menu {

    border: 10px solid white;


  }

/*** p {
  border: 1px solid black;
}
***/
  #chicken {   
    
    background-color: azure;

  }
  #beef {
    background-color: pink;


  }

  #sushi {


    background-color: salmon;

  }


  /* Simple Responsive Framework */

  

  /* Large Device Only */

  @media (min-width: 992px) {



    .menu {

      width: 33.33%;
      float:left;            
     

    }

  }


  /********** Medium devices only **********/
  @media (min-width: 768px) and (max-width: 991px) {

    #div1, #div2 {

      width: 50%;
      float:left;            
     
    }

    #div3 {

      width: 100%;
      float:left;            
 
    }

  }



